@font-face {
    font-family: Manrope;
    src: url("../fonts/manrope-regular.otf") format("opentype");
}

* {
    font-family: 'Manrope', sans-serif !important;
}

blockquote footer::before {
    content: "~ " !important;
}

#error {
    display: none;
}

.centeralize {
    text-align: center;
}