@font-face {
    font-family: Manrope;
    src: url("../fonts/manrope-regular.otf") format("opentype");
}

* {
    font-family: 'Manrope', sans-serif !important;
}

blockquote {
    font-family: Georgia, serif;
    font-size: 18px;
    font-style: italic;
    width: 500px;
    margin: 0.25em 0;
    padding: 0.35em 40px;
    line-height: 1.45;
    position: relative;
    color: #383838;
}

blockquote:before {
    display: block;
    padding-left: 10px;
    content: "\201C";
    font-size: 80px;
    position: absolute;
    left: -20px;
    top: -20px;
    color: #7a7a7a;
}

blockquote footer::before {
    content: "~ " !important;
}

.centeralize {
    text-align: center;
}