@import url("https://fonts.googleapis.com/css?family=Amaranth");

* {
  font-family: "Amaranth", sans-serif;
  letter-spacing: 1px;
}

html {
  scroll-behavior: smooth;
  /* For smooth scrolling */
}

body {
  margin: 0;
  padding: 0;
}

/* Pill Buttons */
.btn-default,
.btn-primary,
.btn-success,
.btn-info,
.btn-warning,
.btn-danger {
  border-radius: 23px !important;
}

.tabs {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.title {
  margin-left: 3px;
  margin-top: 30px;
  margin-bottom: 30px;
  vertical-align: middle;
  text-emphasis: emphasis;
  text-align: center;
  /* font-size: 1.5rem; */
}

.content {
  text-align: center;
  width: 70%;
  letter-spacing: 2px;
  line-height: 1.6;
  font-size: 1.3rem;
}

.nav {
  color: white;
}

.carousel {
  height: 50vh;
  overflow: hidden;
}

.rounded {
  width: 150px;
}

footer {
  padding: 0.5rem;
  -webkit-box-shadow: 10px 0px 15px -5px #d4d1d1;
  box-shadow: 10px 0px 15px -5px #d4d1d1;
  text-align: center;
}

.form-actions {
  margin: 0;
  background-color: transparent;
  text-align: center;
}

.container {
  align-items: center;
  display: flex;
  flex-direction: column;
}
