@import url("https://fonts.googleapis.com/css?family=Amaranth");

* {
  font-family: "Amaranth", sans-serif;
  letter-spacing: 1px;
}

html {
  scroll-behavior: smooth;
  /* For smooth scrolling */
}

body {
  margin: 0;
  padding: 0;
}

/* Pill Buttons */
.btn-default,
.btn-primary,
.btn-success,
.nav-link,
.btn-info,
.btn-warning,
.btn-danger {
  border-radius: 2rem !important;
}

.tabs {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.title {
  margin-left: 3px;
  margin-top: 30px;
  margin-bottom: 30px;
  vertical-align: middle;
  text-emphasis: emphasis;
  text-align: center;
  /* font-size: 1.5rem; */
}

.content {
  text-align: center;
  width: 70%;
  letter-spacing: 2px;
  line-height: 1.6;
  font-size: 1.3rem;
}

.nav {
  color: white;
}

.carousel {
  height: 50vh;
  overflow: hidden;
}

.rounded {
  width: 150px;
}

footer {
  padding: 0.5rem;
  -webkit-box-shadow: 10px 0px 15px -5px #d4d1d1;
  box-shadow: 10px 0px 15px -5px #d4d1d1;
  text-align: center;
}

.form-actions {
  margin: 0;
  background-color: transparent;
  text-align: center;
}

.container {
  align-items: center;
  display: flex;
  flex-direction: column;
}

div {
  text-align: center;
}

.social-links {
  color: black;
}

.qty .count {
  color: #000;
  display: inline-block;
  vertical-align: top;
  font-size: 1.2rem;
  font-weight: 700;
  line-height: 30px;
  padding: 0 2px;
  min-width: 35px;
  text-align: center;
}
.qty .plus {
  cursor: pointer;
  display: inline-block;
  vertical-align: top;
  color: white;
  width: 2rem;
  height: 2rem;
  font: 30px/1 Arial, sans-serif;
  text-align: center;
  border-radius: 50%;
}
.qty .minus {
  cursor: pointer;
  display: inline-block;
  vertical-align: top;
  color: white;
  width: 2rem;
  height: 2rem;
  font: 30px/1 Arial, sans-serif;
  text-align: center;
  border-radius: 50%;
  background-clip: padding-box;
}
.minus:hover {
  background-color: #dd5330 !important;
}
.plus:hover {
  background-color: #00c851 !important;
}
/*Prevent text selection*/
span {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}
input {
  border: 0;
  width: 2%;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input:disabled {
  background-color: white;
}

.carousel-inner .carousel-item {
  width: 100%;
  height: 500px;
}
