@import url("https://fonts.googleapis.com/css?family=Amaranth");

* {
  font-family: "Amaranth", sans-serif;
  letter-spacing: 1px;
}

body {
  margin: 0;
  padding: 0;
}

.tabs {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.title {
  margin-left: 3px;
  margin-top: 30px;
  margin-bottom: 30px;
  vertical-align: middle;
  text-emphasis: emphasis;
  text-align: center;
  /* font-size: 1.5rem; */
}

.content {
  text-align: center;
}

.rounded {
  width: 150px;
}

footer {
  text-align: center;
  margin: 10px;
}

.container {
  align-items: center;
  display: flex;
  flex-direction: column;
}
